* {
    box-sizing: border-box;
    font-family: "xolonium";}

body {background-color: #f5f5f5;}

h2 {font-size: 22px;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 211, 211);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3d3d3d;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logo {
    padding-right: 0;
    float: right;
}

.imgwear {
    float: left;
    padding-right: 20px;
    padding-left: 40px;
}

.fresh {
    text-align: center;
    font-family: "xolonium";
}

#back {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: palevioletred;
}

#back:hover {
    color: rgb(54, 217, 46);
}

a {
    text-decoration: none;
}

.column {
    float: left;
    width: 32.3%;
    margin: 5px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:1190px) {
    .column {width: 31.8%;}
    #logo {padding-right: 0;}
}

@media screen and (max-width:815px){
    .textside{text-align: center;}
    #textdub {padding-left: 25px;}
    .imgwear {padding-left: 20px;}
}

@media screen and (max-width:686px) {
    .column {width: 30.3%;}
    #logo {padding-right: 0;}
    .textside{text-align: center;}
    #textdub {padding-left: 25px;}
    .imgwear {padding-left: 20px;}
}

#titiledub {
    font-size: 26px;
    font-family: "xolonium";
    text-align: center;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

.imgside {
    flex: 35%;
    margin: 5px;
    padding-left: 30px;
}

.textside {
    flex: 40%;
    margin: 0;
    padding-right: 30px;
}

#price {
    font-size: 25px;
}

.rub {
    line-height: 5px;
    width: 0.6em;
    border-bottom: 1.5px solid #000;
    display: inline-block;
}

a { text-decoration: none;}

#razmer {
    font-size: 15px;
    color: palevioletred;
}

#razmer:hover {
    color: rgb(54, 217, 46);
}

#colordub {
    color: #3d3d3d;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textdub {
    text-align: left;
    color: #3d3d3d;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-indent: 0px;
    padding-bottom: 40px;
}

.list {
    color: #3d3d3d;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

@font-face {
    font-family: "GoodTimes";
    src: url("../css/fonts/good\ times\ rg.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "xolonium";
    src: url(../css/fonts/Xolonium-Regular.otf);
}



